# postgresql
#   gem install pg
#
#   Ensure the postgresql gem is defined in your Gemfile
#   gem 'pg'
#
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  
development:
  <<: *default
  database: myapp_development
  username: myapp
  password: password1
  port

test:
  <<: *default
  database: myapp_test
  username: myapp
  password: password1